helloworld/src/main/mule/helloworld.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4cae0799-56eb-4977-867e-15b8cda3d921" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="helloworldFlow" doc:id="120beb46-4491-4968-a626-6630311ab597" >
		<http:listener doc:name="Listener" doc:id="7bbec737-bde9-498a-91c1-2942ed12f95c" config-ref="HTTP_Listener_config" path="hello"/>
		<set-payload value='"Hello World"' doc:name="Set Payload" doc:id="d1068531-78b8-47ff-83f1-da7c785bbea7" />
		<logger level="INFO" doc:name="Logger" doc:id="424568a3-1a3f-4868-bf73-c11c660216aa" message='#[payload ++ " "++ " this is BIRUK"]'/>
	</flow>
</mule>
